/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

#booking {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    font-weight: bold;
    margin-top: 10px;
    width: 30%;
}

input[type="text"],
input[type="date"],
select {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

input[type="radio"] {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#booking h2 {
    font-size: 24px;
    color: #333;
}
