.payment-details {
    text-align: left; /* Align the content to the right */
    margin-top: 20px; /* Adjust the value to control the gap size between heading and the starting line */
  }
  
  .payment-details h2 {
    font-family: 'Roboto', sans-serif;
    margin-left: 650px; /* Adjust the value to move the heading backward */
  }
 
  .payment-box {
    background-color: #e7bcf7; /* Background color for the box */
    padding: 5px; /* Adjust the padding to control the size of the box */
    margin-top: 10px; /* Adjust the value to control the gap between the heading and the box */
    height: 40px; /* Adjust the height to make the box shorter */
    width: 150px;
    margin-left: 650px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  }

  .centered-text {
    text-align: center;
    font-size: 18px; /* Adjust the font size as needed */
  }

  .user-input {
    margin-top: 20px; /* Adjust the value to control the gap between the previous box and the user input box */
  }
  
  .user-input input {
    width: 20%; /* Makes the input element full width */
    padding: 10px; /* Adjust the padding as needed */
    border: 2px solid #ccc; /* Add a border around the input */
    margin-left:650px;
  }

  .pass-box {
    background-color: #e7bcf7; /* Background color for the box */
    padding: 5px; /* Adjust the padding to control the size of the box */
    margin-top: 10px; /* Adjust the value to control the gap between the heading and the box */
    width: 140px;
    height: 40px; /* Adjust the height to make the box shorter */
    border-radius: 10px;
    margin-left: 650px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  }

  .centered-text {
    text-align: center;
    
  }

  .user-input {
    margin-top: 20px; /* Adjust the value to control the gap between the previous box and the user input box */
  }
  
  .user-input input {
    margin-left: 650px;
    width: 20%; /* Makes the input element full width */
    padding: 10px; /* Adjust the padding as needed */
    border: 2px solid #ccc; /* Add a border around the input */
  }

  

  button{
    padding: 5px; /* Adjust the padding to control the size of the box */
    margin-top: 30px; /* Adjust the value to control the gap between the heading and the box */
    width: 140px;
    height: 40px; /* Adjust the height to make the box shorter */
    border-radius: 10px;
    margin-left: 730px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  }

button-container {
    /* Center the button horizontally and position it at the bottom */
    text-align: center;
    
    
 
}

.click-button {
    /* Style your button as you like */
    padding:  10px;
    background-color: #9a09be;
    color: #fff;
    border: none;
    cursor: pointer;
}

.click-button:hover {
    background-color: #f0b5e6;
}